@import "variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $mainFont;
	color: $text;
}

body {
	background-color: $background;
}

header {
	background-color: $primary;
	display: flex;
	align-items: center;
	padding: 5px 10px;

	nav {
		display: flex;
		justify-content: end;
		width: 100%;
		padding-right: 20px;

		a {
			text-decoration: none;
			padding: 0 10px;
		}
	}
}

main {
	margin: 0 60px;

	section {
		margin: 20px 0 10px;

		div {
			display: flex;
			justify-content: center;
		}

		h2 {
			margin-bottom: 10px;
		}
	}

	.banner {
		img {
			width: 100%;
			border-radius: 40px;
			box-shadow: rgba($color: #000000, $alpha: 0.25) 0 0 20px 5px;
			margin: 30px 0;
		}
	}

	div:has(> .artist), div:has(> .venues) {
		gap: 20px;
	}

	.venues {
		width: fit-content;
		width: 250px;
		border-radius: 35px 35px 15px 15px;
		text-decoration: none;
		background-color: $accent-300;
		padding-bottom: 15px;

		transition: transform 0.3s ease;

		&:hover {
			transform: scale(1.05);
		}

		div {
			width: 250px;
			height: 150px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			border-radius: 35px 35px 0 0;
		}
		
		p {
			margin-top: 10px;
			margin-left: 15px;
			
			&:nth-child(2) {
				font-size: 1.1rem;
				font-weight: bold;
			}

			&:nth-child(3) {
				font-size: 1rem;
				color: $text-900;
				font-style: italic;
			}
		}
	}

	.artist {
		width: fit-content;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 150px;
		text-decoration: none;

		div {
			width: 150px;
			height: 150px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			border-radius: 50%;
			transition: transform 0.3s ease;
		}

		&:hover {
			div {
				transform: scale(1.05);
			}
		}
		
		p {
			font-size: 1.1rem;
			margin-top: 10px;
		}
	}

	&#is404 {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 50px;

		h1 {
			font-size: 20rem;
		}

		p {
			font-weight: bold;
			font-size: 2rem;
		}
	}

	&#page {
		margin-top: 20px;
		margin-bottom: 50px;
		line-height: 1.5rem;

		li {
			margin-left: 20px;
		}

		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 10px;
			margin-top: 25px;
		}
	}
}

footer {
	background-color: $secondary-50;
	margin: 20px 60px;
	padding: 30px 70px;
	border-radius: 35px;

	.content {
		display: grid;
		grid-template-columns: repeat(3, auto);

		.logo {
			display: flex;
			align-items: center;
			height: fit-content;

			h1 {
				margin-left: 10px;
				font-size: 1.75rem;
			}
		}

		:not(.logo) {
			display: flex;
			flex-direction: column;
			line-height: 30px;
		}
	}

	h4 {
		color: $text-600;
		font-size: 1.5rem;
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	hr {
		border-top: 1px solid $secondary-200;
		margin: 70px 0 20px;
	}
}
